#Title {
  color: white;
  font-size: 69px;
  font-family: Chakra Petch;
  text-align: center;
vertical-align: middle;
line-height: 80px; /* The same as your div height */
}

#btnmenu {
   position: absolute; /* or relative, fixed, sticky */
  top: 330px; /* distance from the top of the containing element */
  left: 0px; /* distance from the left of the containing element */
  width:220px;
  height:57px;
  font-size:39px;
  font-family: Chakra Petch;
  color:white;
  background:none;
  border:2px solid white;
  cursor:pointer;
}

#btn2 {
   position: absolute; /* or relative, fixed, sticky */
  top: 330px; /* distance from the top of the containing element */
  left: 190px; /* distance from the left of the containing element */
  width:220px;
  height:57px;
  font-size:39px;
  font-family: Chakra Petch;
  color:white;
  background:none;
  border:2px solid white;
  cursor:pointer;
}

#btn1{
  position: absolute; /* or relative, fixed, sticky */
  top: 230px; /* distance from the top of the containing element */
  left: 190px; /* distance from the left of the containing element */
  width:220px;
  height:57px;
  font-size:39px;
  font-family: Chakra Petch;
  color:white;
  background:none;
  border:2px solid white;
  cursor:pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
}

#game-box {
position: absolute;
border-radius: 0px;
  top: 100px;
  right: 150px;
  width: 300px;
  height: 80px;
  border: 2px solid #fff;
  background-color: #333;
  overflow: hidden;
}

#game-container {
  position: relative;
  width: 600px;
  height: 500px;
  border: 2px solid #fff;
  background-color: #333;
  overflow: hidden;
}

#player {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 30px;
  height: 30px;
  background-color: #4CAF50;
}

.platform {
  position: absolute;
  height: 20px;
  background-color: #888;
  border-radius: 5px;
}

#flag {
    width: 20px;
    height: 40px;
    background-color: orange;
    position: absolute;
}


.spike {
    position: absolute;
}

.level-btn {
  width: 220px;
  height: 57px;
  font-size: 20px;
  color: white;
  background: none;
  border: 2px solid white;
  cursor: pointer;
  margin: 10px;
}

.locked {
  opacity: 0.5;
  cursor: not-allowed;
}
